header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 2px solid #0932e7ac;
}

.logo {
  width: 120px;
  height: auto;
}

header h1 {
  margin: 0;
  font-size: 1.6rem;
}

header p {
  margin: 5px 0 0 0;
}



@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .logo {
    width: 100px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header p {
    font-size: 0.9rem;
  }
}
